# cache files
__pycache__/
temp/

# specific files
config/**/items/**
config/spirit_tracks/fire.png
config/spirit_tracks/snow.png
config/spirit_tracks/forest.png
config/spirit_tracks/tower.png
config/spirit_tracks/water.png
config/spirit_tracks/worldmap.png
config/spirit_tracks/tracks*
config/test/

state.txt
*.zip

# build files
build/**
dist/**
*.spec
