<?xml version="1.0" encoding="UTF-8"?>
<Table>
    <Config DefaultInventory="0" StatePath="config/oot/state.txt">
        <Fonts>
            <Item Index="0" Name="LEMON MILK Bold" Source="fonts/LEMONMILK-Bold.otf"/>
            <Item Index="1" Name="Upheaval TT (BRK)" Source="fonts/upheavtt.ttf"/>
            <Item Index="2" Name="Visitor TT1 BRK" Source="fonts/visitor1.ttf"/>
            <Item Index="3" Name="Windows Command Prompt" Source="fonts/windows_command_prompt.ttf"/>
        </Fonts>
        <TextSettings>
            <Item Index="0" Name="Counters" FontIndex="2" Size="12.3" Bold="True" Color="0xFFFFFF" ColorMax="0x00FF00"/>
            <Item Index="1" Name="Rewards" FontIndex="3" Size="10.2" Bold="False" Color="0xFFFFFF"/>
            <Item Index="2" Name="Skulltula Counter" FontIndex="2" Size="13" Bold="True" Color="0xFFFFFF" ColorMax="0x00FF00"/>
            <Item Index="3" Name="Dungeon Flag" FontIndex="0" Size="9" Bold="True" Color="0x00FFFF"/>
            <Item Index="4" Name="Hookshot Flag" FontIndex="0" Size="10" Bold="True" Color="0xFFFFFF" ColorMax="0x00FF00"/>
        </TextSettings>
        <Flags>
            <!-- the flags' positions are relative to the item there are associate to -->
            <Item Index="0" Pos="9;-3" Text="MQ" TextSettings="3"/>
            <Item Index="1" Pos="9;21" Text=";H;L" TextSettings="4" Hidden="False"/>
            <Item Index="2" Pos="-1;21" Text=";200;500;999" TextSettings="0" Hidden="False"/>
        </Flags>
        <Inventory Index="0" Name="Ocarina of Time (N64)" Background="background.png">
            <!-- Items -->
            <Item Pos="9;9" Name="Deku Sticks" Source="items/deku_stick.png">
                <Counter TextSettings="0" Min="10" Max="30" Increment="10"/>
            </Item>
            <Item Pos="48;9" Name="Deku Nuts" Source="items/deku_nut.png">
                <Counter TextSettings="0" Min="20" Max="40" Increment="10"/>
            </Item>
            <Item Pos="90;9" Name="Bombs" Source="items/bomb.png">
                <Counter TextSettings="0" Min="20" Max="40" Increment="10"/>
            </Item>
            <Item Pos="131;9" Name="Fairy Bow" Source="items/fairy_bow.png">
                <Counter TextSettings="0" Min="30" Max="50" Increment="10"/>
            </Item>
            <Item Pos="172;9" Name="Fire Arrow" Source="items/fire_arrow.png"/>
            <Item Pos="213;9" Name="Din's Fire" Source="items/dins_fire.png"/>
            <Item Pos="9;48" Name="Fairy Slingshot" Source="items/fairy_slingshot.png">
                <Counter TextSettings="0" Min="30" Max="50" Increment="10"/>
            </Item>
            <Item Pos="48;48" Name="Ocarina">
                <Sources>
                    <Item Path="items/fairy_ocarina.png"/>
                    <Item Path="items/ocarina_of_time.png"/>
                </Sources>
            </Item>
            <Item Pos="90;48" Name="Bombchus" Source="items/bombchu.png"/>
            <Item FlagIndex="1" Pos="131;48" Name="Hookshot">
                <Sources>
                    <Item Path="items/hookshot.png"/>
                    <Item Path="items/longshot.png"/>
                </Sources>
            </Item>
            <Item Pos="172;48" Name="Ice Arrow" Source="items/ice_arrow.png"/>
            <Item Pos="213;48" Name="Farore's Wind" Source="items/farores_wind.png"/>
            <Item Pos="9;90" Name="Boomerang" Source="items/boomerang.png"/>
            <Item Pos="49;90" Name="Lens of Truth" Source="items/lens_of_truth.png"/>
            <Item Pos="90;90" Name="Magic Beans" Source="items/magic_beans.png"/>
            <Item Pos="131;90" Name="Megaton Hammer" Source="items/hammer.png"/>
            <Item Pos="172;90" Name="Light Arrow" Source="items/light_arrow.png"/>
            <Item Pos="213;90" Name="Nayru's Love" Source="items/nayrus_love.png"/>
            <Item Name="Bottle Slots">
                <Sources>
                    <Item Path="items/bottles/empty_bottle.png"/>
                    <Item Path="items/bottles/red_potion.png"/>
                    <Item Path="items/bottles/green_potion.png"/>
                    <Item Path="items/bottles/blue_potion.png"/>
                    <Item Path="items/bottles/fairy.png"/>
                    <Item Path="items/bottles/fish.png"/>
                    <Item Path="items/bottles/milk.png"/>
                    <Item Path="items/bottles/rutos_letter.png"/>
                    <Item Path="items/bottles/blue_fire.png"/>
                    <Item Path="items/bottles/bug.png"/>
                    <Item Path="items/bottles/big_poe.png"/>
                    <Item Path="items/bottles/poe.png"/>
                </Sources>
                <Positions>
                    <Item X="7" Y="131"/>
                    <Item X="48" Y="131"/>
                    <Item X="89" Y="131"/>
                    <Item X="130" Y="131"/>
                </Positions>
            </Item>
            <Item Pos="172;131" Name="Trade Adult">
                <Sources>
                    <Item Path="items/trade_adult/weird_egg.png"/>
                    <Item Path="items/trade_adult/cucco.png"/>
                    <Item Path="items/trade_adult/cojiro.png"/>
                    <Item Path="items/trade_adult/odd_mushroom.png"/>
                    <Item Path="items/trade_adult/odd_potion.png"/>
                    <Item Path="items/trade_adult/poachers_saw.png"/>
                    <Item Path="items/trade_adult/broken_goron_sword.png"/>
                    <Item Path="items/trade_adult/prescription.png"/>
                    <Item Path="items/trade_adult/eyball_frog.png"/>
                    <Item Path="items/trade_adult/eyedrops.png"/>
                    <Item Path="items/trade_adult/claim_check.png"/>
                </Sources>
            </Item>
            <Item Pos="213;131" Name="Trade Child">
                <Sources>
                    <Item Path="items/trade_child/weird_egg.png"/>
                    <Item Path="items/trade_child/cucco.png"/>
                    <Item Path="items/trade_child/zeldas_letter.png"/>
                    <Item Path="items/trade_child/keaton_mask.png"/>
                    <Item Path="items/trade_child/skull_mask.png"/>
                    <Item Path="items/trade_child/spooky_mask.png"/>
                    <Item Path="items/trade_child/bunny_hood.png"/>
                    <Item Path="items/trade_child/goron_mask.png"/>
                    <Item Path="items/trade_child/zora_mask.png"/>
                    <Item Path="items/trade_child/gerudo_mask.png"/>
                    <Item Path="items/trade_child/mask_of_truth.png"/>
                </Sources>
            </Item>
            <!-- Equipment -->
            <Item Pos="8;176" Name="Kokiri Sword" Source="items/kokiri_sword.png"/>
            <Item Pos="49;176" Name="Master Sword" Source="items/master_sword.png"/>
            <Item Pos="90;176" Name="Biggoron's Sword" Source="items/biggoron_sword.png"/>
            <Item Pos="8;216" Name="Deku Shield" Source="items/deku_shield.png"/>
            <Item Pos="48;217" Name="Hylian Shield" Source="items/hylian_shield.png"/>
            <Item Pos="91;217" Name="Mirror Shield" Source="items/mirror_shield.png"/>
            <Item Pos="8;258" Name="Kokiri Tunic" Source="items/kokiri_tunic.png" Enabled="True"/>
            <Item Pos="48;258" Name="Goron Tunic" Source="items/goron_tunic.png"/>
            <Item Pos="90;258" Name="Zora Tunic" Source="items/zora_tunic.png"/>
            <Item Pos="8;300" Name="Kokiri Boots" Source="items/kokiri_boots.png" Enabled="True"/>
            <Item Pos="48;300" Name="Iron Boots" Source="items/iron_boots.png"/>
            <Item Pos="90;300" Name="Hover Boots" Source="items/hover_boots.png"/>
            <!-- Quest -->
            <Item Pos="131;217" Name="Magic Meter" ScaleContent="True">
                <Sources>
                    <Item Path="items/magic.png"/>
                    <Item Path="items/double_magic.png"/>
                </Sources>
            </Item>
            <Item FlagIndex="2" Pos="172;217" Name="Wallets">
                <Sources>
                    <Item Path="items/adults_wallet.png"/>
                    <Item Path="items/giants_wallet.png"/>
                    <Item Path="items/giants_wallet.png"/>
                </Sources>
            </Item>
            <Item Pos="213;217" Name="Gerudo Card" Source="items/gerudo_card.png" ScaleContent="True"/>
            <Item Pos="131;259" Name="Stone of Agony" Source="items/stone_of_agony.png"/>
            <Item Pos="172;258" Name="Zora Scales">
                <Sources>
                    <Item Path="items/silver_scale.png"/>
                    <Item Path="items/gold_scale.png"/>
                </Sources>
            </Item>
            <Item Pos="213;258" Name="Strengths">
                <Sources>
                    <Item Path="items/goron_bracelet.png"/>
                    <Item Path="items/silver_gauntlets.png"/>
                    <Item Path="items/golden_gauntlets.png"/>
                </Sources>
            </Item>
            <!-- Rewards -->
            <Item Reward="True" FlagIndex="0" Pos="131;300" Name="Kokiri Emerald" Source="items/rewards/kokiri_emerald.png"/>
            <Item Reward="True" FlagIndex="0" Pos="172;300" Name="Goron Ruby" Source="items/rewards/goron_ruby.png"/>
            <Item Reward="True" FlagIndex="0" Pos="213;300" Name="Zora Sapphire" Source="items/rewards/zora_sapphire.png"/>
            <Item Reward="True" FlagIndex="0" Pos="8;345" Name="Forest Medallion" Source="items/rewards/forest_medallion.png"/>
            <Item Reward="True" FlagIndex="0" Pos="48;345" Name="Fire Medallion" Source="items/rewards/fire_medallion.png"/>
            <Item Reward="True" FlagIndex="0" Pos="90;345" Name="Water Medallion" Source="items/rewards/water_medallion.png"/>
            <Item Reward="True" FlagIndex="0" Pos="131;345" Name="Shadow Medallion" Source="items/rewards/shadow_medallion.png"/>
            <Item Reward="True" FlagIndex="0" Pos="172;345" Name="Spirit Medallion" Source="items/rewards/spirit_medallion.png"/>
            <Item Reward="True" FlagIndex="0" Pos="213;345" Name="Light Medallion" Source="items/rewards/light_medallion.png"/>
            <Rewards>
                <Item Name="????" TextSettings="1"/>
                <Item Name="FREE" TextSettings="1"/>
                <Item Name="DEKU" TextSettings="1"/>
                <Item Name="DC" TextSettings="1"/>
                <Item Name="JABU" TextSettings="1"/>
                <Item Name="FOREST" TextSettings="1"/>
                <Item Name="FIRE" TextSettings="1"/>
                <Item Name="WATER" TextSettings="1"/>
                <Item Name="SHADOW" TextSettings="1"/>
                <Item Name="SPIRIT" TextSettings="1"/>
            </Rewards>
            <!-- Alternative way to handle rewards
            <Item Name="Rewards">
                <Sources>
                    <Item Name="Kokiri Emerald" Source="items/rewards/kokiri_emerald.png"/>
                    <Item Name="Goron Ruby" Source="items/rewards/goron_ruby.png"/>
                    <Item Name="Zora Sapphire" Source="items/rewards/zora_sapphire.png"/>
                    <Item Name="Forest Medallion" Source="items/rewards/forest_medallion.png"/>
                    <Item Name="Fire Medallion" Source="items/rewards/fire_medallion.png"/>
                    <Item Name="Water Medallion" Source="items/rewards/water_medallion.png"/>
                    <Item Name="Shadow Medallion" Source="items/rewards/shadow_medallion.png"/>
                    <Item Name="Spirit Medallion" Source="items/rewards/spirit_medallion.png"/>
                    <Item Name="Light Medallion" Source="items/rewards/light_medallion.png"/>
                </Sources>
                <Positions>
                    <Item X="131" Y="300"/>
                    <Item X="172" Y="300"/>
                    <Item X="213" Y="300"/>
                    <Item X="8" Y="345"/>
                    <Item X="48" Y="345"/>
                    <Item X="90" Y="345"/>
                    <Item X="131" Y="345"/>
                    <Item X="172" Y="345"/>
                    <Item X="213" Y="345"/>
                </Positions>
            </Item> 
            Alternative way to handle rewards -->
            <!-- Songs -->
        </Inventory>
    </Config>
</Table>
