<?xml version="1.0" encoding="UTF-8"?>
<!--
    ### Quick documentation ###

    # General stuff

    Background: the image that will be used for the background
    Fonts: list of fonts to use (the "Name" part is simply the name that displays at the top when you preview the font)
    Colors: the color settings (do not change the value of "Key")
    Inventory: Defines the inventory items/equipment/other

    # Inventory
    Font: the font index to use when drawing text
    Tiers: the different tier of the current item (example for OoT's bow: "30;40;50")
    Pos: the position of the current item, in the format "Pos X;Pos Y" (example: 0;0 for top-left corner)
    -> if "Sources" contains only one item the first one will be used by default
    -> use ``;`` to separate the filenames/tiers values
-->
<Table>
    <Config DefaultInventory="0">
        <Fonts>
            <Item Index="0" Name="LEMON MILK Bold" Source="fonts/LEMONMILK-Bold.otf"/>
            <Item Index="1" Name="Upheaval TT (BRK)" Source="fonts/upheavtt.ttf"/>
            <Item Index="2" Name="Visitor TT1 BRK" Source="fonts/visitor1.ttf"/>
        </Fonts>
        <TextSettings>
            <Item Index="0" Name="Tiers" FontIndex="2" Size="13" Bold="True" Color="0xFFFFFF" ColorMax="0x00FF00"/>
        </TextSettings>
        <Inventory Index="0" Name="Ocarina of Time (N64)" Background="background.png" TierText="0">
            <Item Index="0" Pos="9;9" Name="Deku Sticks" Sources="items/deku_stick.png" Tiers="10;20;30"/>
            <Item Index="1" Pos="48;9" Name="Deku Nuts" Sources="items/deku_nut.png" Tiers="20;30;40"/>
            <Item Index="2" Pos="90;9" Name="Bombs" Sources="items/bomb.png" Tiers="20;30;40"/>
            <Item Index="3" Pos="131;9" Name="Fairy Bow" Sources="items/fairy_bow.png" Tiers="30;40;50"/>
            <Item Index="4" Pos="172;9" Name="Fire Arrow" Sources="items/fire_arrow.png"/>
            <Item Index="5" Pos="213;9" Name="Din's Fire" Sources="items/dins_fire.png"/>
            <Item Index="6" Pos="9;48" Name="Fairy Slingshot" Sources="items/fairy_slingshot.png" Tiers="30;40;50"/>
            <Item Index="7" Pos="48;48" Name="Ocarina" Sources="items/fairy_ocarina.png;items/ocarina_of_time.png"/>
            <Item Index="8" Pos="90;48" Name="Bombchus" Sources="items/bombchu.png"/>
            <Item Index="9" Pos="131;48" Name="Hookshot" Sources="items/hookshot.png;items/longshot.png"/>
            <Item Index="10" Pos="172;48" Name="Ice Arrow" Sources="items/ice_arrow.png"/>
            <Item Index="11" Pos="213;48" Name="Farore's Wind" Sources="items/farores_wind.png"/>
            <Item Index="12" Pos="9;90" Name="Boomerang" Sources="items/boomerang.png"/>
            <Item Index="13" Pos="49;90" Name="Lens of Truth" Sources="items/lens_of_truth.png"/>
            <Item Index="14" Pos="90;90" Name="Magic Beans" Sources="items/magic_beans.png"/>
            <Item Index="15" Pos="131;90" Name="Megaton Hammer" Sources="items/hammer.png"/>
            <Item Index="16" Pos="172;90" Name="Light Arrow" Sources="items/light_arrow.png"/>
            <Item Index="17" Pos="213;90" Name="Nayru's Love" Sources="items/nayrus_love.png"/>
        </Inventory>
    </Config>
</Table>
